#control-rack{
    position: absolute;
    text-align: center;;
    bottom: 250px;
    left: 50%;
    transform: translateX(-50%);
    width:100%;
    display: flex;
    justify-content: space-evenly;
}
.control-button{
    position: relative;
    height: 100px;
    width: 500px;
    border-radius: 50px;
    border: none;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 50px;
    text-justify: center;
    bottom: 0px;
    cursor: pointer;
    width: 500px;
    height: 100px;
}
.control-button:hover{
    bottom: 10px;
    transition: bottom 0.6s ease;
}
#quit{
    color: white;
    background-color: red;
    flex: 1;
}
#continue{
    color: purple;
    background-color: yellow;
    flex: 1;
}